<h1>Games</h1>
<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>edit</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Home Goals</th>
        <th>Away Goals</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      {{new-game routeCreateGame='createGame'}}
      {{#each model.games as |game|}}
          {{game-row game=game routeUpdateGame='updateGame' routeDestroyGame='destroyGame'}}
      {{/each}}

    </tbody>

  </table>
</div>

<h2>{{#link-to 'rosters'}}roster{{/link-to}}</h2>

{{outlet}}